# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
*.log

# Environment variables
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
package-lock.json

# Build files
Frontend/dist/
Frontend/build/

# IDE
.vscode/
.idea/